/sfml-patterns/Debug
/sfml-patterns/Release
/sfml-patterns/x64
/sfml-patterns/sfml-patterns.sln
/sfml-patterns/sfml-patterns.vcxproj
/sfml-patterns/sfml-patterns.vcxproj.filters
/sfml-patterns/sfml-patterns.vcxproj.user
/sfml-patterns/.vs